<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <body>

  <form method="post" action="/posts">
    <p>Content: <input type="text" name="content"></p>
    <p>Name: <input type="text" name="name"></p>
    <input type="submit" id="submit">
  </form>

  </body>
</html>
