<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <body>
      
  <form method="post" action="/posts">
    <p>Team Name: <input type="text" name="name"></p>
  
    <input type="submit" id="Submit">
  </form>
  
  </body>
</html>
