<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <body>

  <form action="/posts" method="post">
    <h2>Name: <input type="text" name="name"></h2>
    <h3>Content: <input type="text" name="content"></h3>

    <input type="submit" id="submit">
  </form>

  </body>
</html>
