<!DOCTYPE html>
<html>
  <head>
    <title>New Blog Post</title>
  </head>
  <body>
    <h2>Create a New Blog Post</h2>
    <form action="/posts" method="post">
      <h3>Post Name: <input type="text" id="name" name="name"></h3>
      <h3>Post Content: <input type="text" id="content" name="content"></h3>
      <input type="submit" id="submit">
  </form>
  </body>
</html>
