<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <form action="/posts" method="post">
      <h2>Post Name: <input type="text" id="name" name="name"></h2>
      <h3>Post Content: <input type="text" id="content" name="content"></h3>
      <input type="submit" id="submit">
  </form>
  </body>
</html>
